form-border()
    background-color: #fff
    border: 1px solid  #dbdbdb
    border-radius: 4px
    color: #363636

flex-row()
    display: flex
    flex-direction: row
    justify-content: space-evenly
    align-items: center

.iro__colorPicker
    margin: 0 auto

.color-picker-container
    padding: .75rem

#color-picker-background
    height: 100%
    background: #FFF url(/media/images/placeholder_001.jpg) no-repeat center center
    background-size: cover
    box-shadow: 7px 10px 14px 0px #0000005e

#color-picker-container-sample
    height: 100%
    min-height: 250px
    flex-row()

#json-demo
    color: #a80000
    font-size: 12px;